packages/
GraphTraversal.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GraphTraversal.Data/obj/
GraphTraversal.Business/bin/
GraphTraversal.Data/bin/
request.txt
GraphTraversal.WebApp/obj/
GraphTraversal.WebApp/bin/
GraphTraversal.DataLoader/bin/
GraphTraversal.DataLoader/obj/
GraphTraversal.Business.Tests/obj/
GraphTraversal.Business.Tests/bin/
