<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dirPath" value="d:\DodatkoweProjekty\GraphTraversal\GraphXml"/>
    <add key="endpoint" value="http://localhost/GraphTraversal.WebServices/DataManagementService.svc/add"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>